
nav
{
    display: flex;
    justify-content: flex-end;
}

body
{
    margin: 0%;
}

.nav-links span
{
    padding: 10px ;  
}

.espacement
{
    padding : 60px ;
    margin : 30px ;
    background-color: white;
}

footer
{
    position : absolute;
    bottom : 0 ;
    width : 100% ;
    background-color: #ebebeb;
}

#section

{
 display : flex ;
 flex direction : column ;
}



.country
{
    padding: 15px 30px ;
    border : 1px solid #c5c5c5;    
}

.links
{
    display : flex ;
    flex-direction: column; 
    border : 1px solid #c5c5c5;  
}

.searchbar
{
display : flex ;
border : 1px solid black ;
}

#search
{
border : none ;
}

.bottom
{
    display : flex ;
    justify-content: space-between;
}

.top
{
    align-self: center;
}

icon-1 
{
    height : 5px ;
    justify-self:  center ;
}
icon-2
{
    height : 5px ;
    justify-self:  center ;
